*{margin:0}

html{
    background-color: rgb(88, 168, 181);
    color: rgb(255, 255, 255);
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#timerVideo{
    display: none;
}
.boxFrånvaro{
    display: flex;
    flex-flow: row;
}
.personal{
    display: flex;
}
.personal input{
    margin-right: 20px;
}

#setting{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
}
                
#time{
    font-size: 6vh;

    display: flex;
    width: 100vh;
    height: 100%;
    justify-content: center;
   
    position:absolute;
    z-index: -1;
}

.box{
    height: 100vh;
    width: 100%;
    display: none;
}


.boxDatum{
    display: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    z-index: 0;

}

#date{
    font-size: 10vh;
}
#vecka{
    font-size: 6vh;
    justify-self:baseline;
    margin-top: 15vh;
}

#backToSettings {
    position: fixed;
    top: 10px;
    right: 10px;
    display: none; /* Hidden by default */
}

#box_2{
    display: none;
    padding: 10vh 0 0 0;
    justify-content: center;
    align-items: center;
    font-size: 5vh;
   
}
#lunchDisplay{
    margin:10vh 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#box_2 h2{
    font-size: 10vh;
    text-align: center; 
}

#box_3{
    display: none;
    padding: 10vh 0 0 0;
    justify-content: center;
    align-items: center;
    font-size: 5vh;
}

#box_3 h2{
    font-size: 10vh;
    text-align: center; 
}

#box_3 #frånvaro_display{
    margin: 10vh 0 0 0;
}

#box_4{
    display: none;
    padding: 10vh 0 0 0;
    justify-content: center;
    align-items: center;
    font-size: 5vh;
}

#box_4 #quiz{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10vh;
  font-size: 15vh;
 
}

#box_4 #quiz_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50vh;
    
}

#box_activity{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-self: center;
    width: 100%;
   

}
#box_activity div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    width: 100%;

}

#box_activity h2{
    display: flex;
    align-self: flex-start;
    font-size: 10vh;
    margin: 20vh 0 0 0;
    width: 100%;

}
.activity_name{
    font-size: 20vh;
}
.img_activity{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30vh;
    border-radius: 30px;
    
}

#personal_activity{
    font-size: 4em;
}
