*{margin:0}

html{
    background-color: rgb(21, 104, 117);
    color: rgb(255, 255, 255);
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#timerVideo{
    display: none;
}
.boxFrånvaro{
    display: flex;
    flex-flow: row;
}
.personal{
    display: flex;
}
.personal input{
    margin-right: 20px;
}

#setting{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
}
                
#time{
    font-size:15vh;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: end;
    position:absolute;
    z-index: -1;
    margin-left: -70px;
}

.box{
    height: 80vh;
    width: 100%;
    display: none;

}


.boxDatum{
    display: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    z-index: 0;
    
}

#date{
    font-size: 15vh;
}
#vecka{
    font-size: 10vh;
    justify-self:baseline;
    margin-top: 15vh;
}

#backToSettings {
    position: fixed;
    top: 10px;
    right: 10px;
    display: none; /* Hidden by default */
}



#box_2{
    display: none;
    padding: 20vh 0 0 0;
    justify-content: center;
    align-items: center;
    font-size: 6vh;
   
}


.lunchBox{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}
.lunchBox div{
    width: 100%;
    margin-left: 2em;
}

#box_2 h2{
    font-size: 10vh;
    text-align: center; 
}

#box_3{
    display: none;
    padding: 10vh 0 0 0;
    justify-content: center;
    align-items: center;
    
}

#box_3 h2{
    margin-top: 50px;
    font-size: 7vh;
    text-align: center; 
}

#box_3 #frånvaro_display{
    margin: 10vh 0 0 0;
    font-size: 7vh;
}

#box_4{
    display: none;
    padding: 10vh 0 0 0;
    justify-content: center;
    align-items: center;
    font-size: 10vh;
}

#box_4 #quiz{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10vh;
  font-size: 10vh;
 
}

#box_4 #quiz_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50vh;
    
}

#box_activity{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-self: center;
    width: 100%;
   

}
#box_activity div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    width: 100%;

}

#box_activity h2{
    display: flex;
    align-self: flex-start;
    font-size: 10vh;
    margin: 20vh 0 0 0;
    width: 100%;

}
.activity_name{
    white-space: nowrap;          /* Prevent text from wrapping */
    overflow: hidden;             /* Hide the overflow if text is too long */
    text-overflow: ellipsis;      /* Add an ellipsis ("...") if the text is cut off */
    font-size: calc(20px + 5vw);  /* Dynamically adjust the font size based on viewport width */
    width: 100%;                  /* Ensure the text takes up the full width of its container */
    display: block; 
    margin-top: 10px;
}
.img_activity{
    display: block;
    object-fit:contain;
    margin-left: auto;
    margin-right: auto;
    width: 40vh;
    height: 230px;
    border-radius: 30px;
    
}

#personal_activity{
    font-size: 4em;
}

.personalName{
    position: absolute;
    bottom: 0; /* Align to the bottom of the container/viewport */
    left: 50%; /* Move the element to the center horizontally */
    transform: translateX(-50%); /* Correct the positioning by moving it back by 50% of its own width */
    font-size: 5vh;
}



@property --percentage {
    initial-value: 100%;
    inherits: false;
    syntax: "<percentage>";
  }
  
  .chart {
    background: conic-gradient(red var(--percentage), white 0);
    border-radius: 50%;
    width: 13vmin;
    height: 13vmin;
    
  }
  
  @keyframes timer {
    to {
      --percentage: 0%;
    }
  }
  
  .chart-container {
    height: 10vh;
    margin: 0;
    display: none;
    place-items: center;
    box-sizing: border-box;
    position: absolute;
    top:3%;
    left: 15%;
    
    
  }
  